<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carritoEditar.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo1.jpg">
    <title>Bienvenido</title>
</head>
<body>

    {{#each lista}}

    <form action="/carrito/editar/{{idRestaurante}}" method="get"></form>
    {{/each}}

    <div id="sidebar">
        <h1>Bienvenido</h1>
        <ul>
            <li>
                <button id="dashboard-button">
                <a href="/dashboard/{{idRestaurante}}">
                    <img src="/img/iconocasa.png" alt="restaurante"><span id="dashboard-text">Dashboard</span>
                </a>
                </button>
                <button id="menu-button">
                    <a href="/crearMenu/{{idRestaurante}}">
                        <img src="/img/menuicono.png" alt="creacion"><span id="menu-text">Creacion de menus</span>
                    </a>
                </button>
                <button id="carrito-button">
                    <a href="/carrito/{{idRestaurante}}/listar">
                        <img src="/img/carritoicono.png" alt="carrito"><span id="carrito-text">Carrito de compras</span>
                    </a>
                </button>
                <button id="metodos-button">
                    <a href="/metodos/listar/{{idRestaurante}}">
                        <img src="/img/tarjetaicono.png" alt="metodos"><span id="metodos-text">Metodos de pagos</span>
                    </a>
                </button>
                <button id="visualizar-button">
                    <a href="/visualizar/{{idRestaurante}}">
                        <img src="/img/visulaizarmenuicono.png" alt="visualizar"><span id="visualizar-text">Visualizar menu</span>
                    </a>
                </button>
            </li>
        </ul>
    </div>

    <div id="main-content">

        <h1>Vista momentania</h1>

        <div id="user-info">
            <img src="/img/usuarioicono.png">
        </div>

        <div id="lineahorizontal"></div>

        <div id="card-container">
            <a href="../../{{idRestaurante}}/listar"><img src="/img/atras.png"></a>
            <div id="card1">
                {{#each lista}}
                <form action="/carrito/{{../idRestaurante}}/editar/{{idCarro}}" method="post"> 
                    <label for="nombre">Nombre</label><br>
                    <input type="text" id="name" name="nombre" value="{{nombre}}" pattern="[A-Za-záéíóúÁÉÍÓÚñÑüÜ\s]+" 
                    title="Solo se permiten letras y espacios" placeholder="Ingrese el nombre del plato" required>
                    <label for="location">Limite de producto</label><br>
                    <input type="text" id="location" name="limite" value="{{limite}}" pattern="[1-9][0-9]?" maxlength="1" placeholder="Ingrese el precio del plato" required>
                    <label for="location">Estado</label><br>
                    <input type="text" id="location" value="{{estado}}" name="estado" 
                    pattern="(activo|desactivo)" title="Solo se admite: activo o desactivo" placeholder="Ingrese el estado" required>

                    <br>
                    <button id="listo-btn" type="submit">Guardar</button>

                </form>
                {{/each}}
            </div>
        </div>
        
    </div>
    
</body>
</html>


