<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo1.jpg">
    <title>Bienvenido</title>
</head>
<body>

    {{#each lista}}

    <form action="/carrito/{{idRestaurante}}" method="get"></form>

    <div id="sidebar">
        <h1>Bienvenido</h1><br>
        <ul>
            <li>
                <button id="dashboard-button">
                <a href="/dashboard/{{idRestaurante}}">
                    <img src="/img/iconocasa.png" alt="restaurante"><span id="dashboard-text">Dashboard</span>
                </a>
                </button>
                <button id="menu-button">
                    <a href="/crearMenu/{{idRestaurante}}">
                        <img src="/img/menuicono.png" alt="creacion"><span id="menu-text">Creacion de menus</span>
                    </a>
                </button>
                <button id="carrito-button">
                    <a href="/carrito/{{idRestaurante}}">
                        <img src="/img/carritoicono.png" alt="carrito"><span id="carrito-text">Carrito de compras</span>
                    </a>
                </button>
                <button id="metodos-button">
                    <a href="/metodos/{{idRestaurante}}">
                        <img src="/img/tarjetaicono.png" alt="metodos"><span id="metodos-text">Metodos de pagos</span>
                    </a>
                </button>
                <button id="visualizar-button">
                    <a href="/visualizar/{{idRestaurante}}">
                        <img src="/img/visulaizarmenuicono.png" alt="visualizar"><span id="visualizar-text">Visualizar menu</span>
                    </a>
                </button>
            </li>
        </ul>
        <img src="/img/logo1.jpg" id="logoizquierdo">
    </div>

    <div id="main-content">
        
        <h1>Gestion de pedidos</h1>

        <div id="user-info">
            <a href="/"><img src="../img/iconocasa.png"></a>
            <img src="/img/usuarioicono.png">
            <h2>Digital Waiter</h2>
            <p>Restaurante Administrador</p>
        </div>

    </div>

    <div id="container">

        <div id="actividad">
        <h1>Confirmar pedidos</h1>
        <h3>Tienes 4 pedidos en espera</h3>

        <div id="actividad-tarjeta">
            <h1>Nuevos pedidos entrantes</h1>

            <div id="platos">
                <h2>10 ceviches</h2>
                <h2>3 pizzas</h2>
                <h2>3 bloody marys</h2>
            </div>

            <div id="total">
                <h3>Total: 16 platos</h3>
            </div>

            <div id="comprobante">
                <h1>Comprobante</h1>
                <div id="comprobante-foto">
                    <h2>+$23.00</h2>
                    <hr>
                    <h4>Martes, 6 feb 2024</h4>
                    <h1>Transferencia Interbancaria de Jorge-Carlos Zambrano Perez</h1>
                </div>
            </div>

            <div>
                <button id="conf-btn">Confirmar</button>
                <button id="close-btn">Rechazar</button>
            </div>
        </div>
        
        </div>

        <div id="limitantes">
        <h1>Limitantes</h1>
        <button><a href="/carrito/agregar">Agregar</a></button>

            <div id="limitantes-fondo">

                <div id="categorias">
                <h1>Categorias</h1>

                    {{!-- <div id="secciones">

                        <div id="izquierda">
                            <h2>Entradas</h2>
                            <h4>Max 6 c/u</h4>
                            <button id="editar"><a href="/carrito/editar">Editar</a></button>
                        </div>
                        <div id="derecha">
                            <button id="boton-activo"><a href="">Activo</a></button>
                            <button id="boton-inactivo"><a href="">Inactivo</a></button>
                        </div>

                    </div>

                    <hr>

                    <div id="secciones">

                        <div id="izquierda">
                            <h2>Sopas</h2>
                            <h4>Max 3 c/u</h4>
                            <button id="editar"><a href="/carrito/editar">Editar</a></button>
                        </div>
                        <div id="derecha">
                            <button id="boton-activo"><a href="">Activo</a></button>
                            <button id="boton-inactivo"><a href="">Inactivo</a></button>
                        </div>

                    </div>

                    <hr>

                    <div id="secciones">

                        <div id="izquierda">
                            <h2>Postres</h2>
                            <h4>Max 4 c/u</h4>
                            <button id="editar"><a href="/carrito/editar">Editar</a></button>
                        </div>
                        <div id="derecha">
                            <button id="boton-activo"><a href="">Activo</a></button>
                            <button id="boton-inactivo"><a href="">Inactivo</a></button>
                        </div>

                    </div>

                    <hr>

                    <div id="secciones">

                        <div id="izquierda">
                            <h2>Bebidas</h2>
                            <h4>Max 3 c/u</h4>
                            <button id="editar"><a href="/carrito/editar">Editar</a></button>
                        </div>
                        <div id="derecha">
                            <button id="boton-activo"><a href="">Activo</a></button>
                            <button id="boton-inactivo"><a href="">Inactivo</a></button>
                        </div>

                    </div> --}}


                </div>
            </div>

        </div>

    </div>

    {{/each}}

</body>
</html>