<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/visualizar.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo1.jpg">
    <title>Bienvenido</title>
</head>
<body>
  {{#each lista}}
    
    <form action="/visualizar/{{idRestaurante}}" method="get"></form>
  {{/each}} 

    <div id="sidebar">
        <h1>Bienvenido</h1><br>
        <ul>
            <li>
                <button id="dashboard-button">
                <a href="/dashboard/{{idRestaurante}}">
                    <img src="/img/iconocasa.png" alt="restaurante"><span id="dashboard-text">Dashboard</span>
                </a>
                </button>
                <button id="menu-button">
                    <a href="/crearMenu/{{idRestaurante}}">
                        <img src="/img/menuicono.png" alt="creacion"><span id="menu-text">Creacion de menus</span>
                    </a>
                </button>
                <button id="carrito-button">
                    <a href="/carrito/{{idRestaurante}}">
                        <img src="/img/carritoicono.png" alt="carrito"><span id="carrito-text">Carrito de compras</span>
                    </a>
                </button>
                <button id="metodos-button">
                    <a href="/metodos/{{idRestaurante}}">
                        <img src="/img/tarjetaicono.png" alt="metodos"><span id="metodos-text">Metodos de pagos</span>
                    </a>
                </button>
                <button id="visualizar-button">
                    <a href="/visualizar/{{idRestaurante}}">
                        <img src="/img/visulaizarmenuicono.png" alt="visualizar"><span id="visualizar-text">Visualizar menu</span>
                    </a>
                </button>
            </li>
        </ul>
        <img src="/img/logo1.jpg" id="logoizquierdo">
    </div>

    <div id="main-content">
        

        <div id="user-info">
            <a href="/"><img src="/img/iconocasa.png"></a>
            <img src="/img/usuarioicono.png">
            <h2>Digital Waiter</h2>
            <p>Restaurante Administrador</p>
        </div>

    </div>

    <div id="container">
      <h1>Menu</h1>
      <form action="/dashboard/visualizar" method="get">

      <div id="entradas">
        <h2>Entradas</h2>
        {{#each lista1}}
          <p>{{nombre}}</p>
          <p>{{precio}}</p>
        {{/each}}
      </div>

      <div id="bebidas">
        <h2>Bebidas</h2>
        {{#each lista2}}
          <p>{{nombre}}</p>
          <p>{{precio}}</p>
        {{/each}}
      </div>

      <div id="postres">
        <h2>Postres</h2>
        {{#each lista3}}
          <p>{{nombre}}</p>
          <p>{{precio}}</p>
        {{/each}}
      </div>

      <div id="sopas">
        <h2>Sopas</h2>
        {{#each lista4}}
          <p>{{nombre}}</p>
          <p>{{precio}}</p>
        {{/each}}
      </div>

    </div>

</body>
</html>
