<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/entradasListar.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo1.jpg">
    <title>Bienvenido</title>
</head>
<body>

    {{#each listaEntrada}}

    <form action="/entradas/listar/{{idRestaurante}}" method="get"></form>

    <div id="sidebar">
        <h1>Bienvenido</h1><br>
        
        <ul>
            <li>
                <button id="dashboard-button">
                <a href="/dashboard/{{idRestaurante}}">
                    <img src="/img/iconocasa.png" alt="restaurante"><span id="dashboard-text">Dashboard</span>
                </a>
                </button>
                <button id="menu-button">
                    <a href="/crearMenu/{{idRestaurante}}">
                        <img src="/img/menuicono.png" alt="creacion"><span id="menu-text">Creacion de menus</span>
                    </a>
                </button>
                <button id="carrito-button">
                    <a href="/carrito/{{idRestaurante}}/listar">
                        <img src="/img/carritoicono.png" alt="carrito"><span id="carrito-text">Carrito de compras</span>
                    </a>
                </button>
                <button id="metodos-button">
                    <a href="/metodos/{{idRestaurante}}">
                        <img src="/img/tarjetaicono.png" alt="metodos"><span id="metodos-text">Metodos de pagos</span>
                    </a>
                </button>
                <button id="visualizar-button">
                    <a href="/visualizar/{{idRestaurante}}">
                        <img src="/img/visulaizarmenuicono.png" alt="visualizar"><span id="visualizar-text">Visualizar menu</span>
                    </a>
                </button>
            </li>
        </ul>
    </div>
    {{/each}}
    <div id="main-content">

        <h1>Lista de las Entradas</h1>
        

        <div id="user-info">
            <img src="/img/usuarioicono.png">

        </div>

        <div id="lineahorizontal"></div>

        <div id="plato-tarjeta">
            <h1>Entradas</h1>
            <a href="/crearMenu/{{idRestaurante}}"><img src="/img/atras.png"></a>
            <form action="entradas/listar/" method="get"></form>

            <div id="tarjetas-contenedor">
                {{#each lista}}
                <center>
                <div id="tarjeta">
                    <b>Nombre:</b>
                    <p>{{nombre}}</p><br>
                    <b>Descripcion:</b>
                    <p>{{descripcion}}</p><br>
                    <b>Precio:</b>
                    <p>{{precio}}</p><br>
                    <b>Estado:</b>
                    <p>{{estado}}</p><br>
                    <a href="/entradas/{{../idRestaurante}}/editar/{{idEntrada}}"><button type="submit">Editar</button></a>
                </div>
                </center>
                {{/each}}
            </div>
        </div>
        
    </div>
    
</body>
</html>