<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/metodos.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo1.jpg">
    <title>Bienvenido</title>
</head>
<body>

     <div id="sidebar">
        <h1>Bienvenido</h1>
        <ul>
            <li>
                <button id="dashboard-button">
                <a href="/dashboard/{{idRestaurante}}">
                    <img src="/img/iconocasa.png" alt="restaurante"><span id="dashboard-text">Dashboard</span>
                </a>
                </button>
                <button id="menu-button">
                    <a href="/crearMenu/{{idRestaurante}}">
                        <img src="/img/menuicono.png" alt="creacion"><span id="menu-text">Creacion de menus</span>
                    </a>
                </button>
                <button id="carrito-button">
                    <a href="/carrito/{{idRestaurante}}/listar">
                        <img src="/img/carritoicono.png" alt="carrito"><span id="carrito-text">Carrito de compras</span>
                    </a>
                </button>
                <button id="metodos-button">
                    <a href="/metodos/listar/{{idRestaurante}}">
                        <img src="/img/tarjetaicono.png" alt="metodos"><span id="metodos-text">Metodos de pagos</span>
                    </a>
                </button>
                <button id="visualizar-button">
                    <a href="/visualizar/{{idRestaurante}}">
                        <img src="/img/visulaizarmenuicono.png" alt="visualizar"><span id="visualizar-text">Visualizar menu</span>
                    </a>
                </button>
            </li>
        </ul>
    </div>
   
    
    <form action="/metodos/listar/{{idRestaurante}}" method="get"></form>
  
    
    
    <div id="main-content">

        <h1>Metodos de pago</h1>
        
        <div id="user-info">
            <a href="/"><img src="/img/iconocasa.png"></a>
            <img src="/img/usuarioicono.png">
        </div>

    </div>

    <div id="card-general">
        <div id="publicidad">
            <h1>LO LOGRAMOS!</h1>
            <h3>Este año conseguimos<br>la michelin...</h3>
            <div>
                <img src="../../img/michelinstar.png">
            </div>
        </div>

        {{#each listaRestaurante}}
        <form action="metodos/listar/{{idRestaurante}}" method="get"></form>{{/each}}
            <div id="tablas">
                <h1>Metodos de pago activos</h1>
                <button><a href="/metodos/agregar/{{idRestaurante}}">Agregar</a></button>
                <h3>Todos los pagos</h3>
                <hr>
                <table>
                    <thead>
                        <tr>
                            <th>M. DE PAGO</th>
                            <th>ESTADO</th>
                            <th>EDITAR</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each lista}}
                        <tr>
                            <td><center>{{metodoPago}}</center></td>
                            <td><center>{{estado}}</center></td>
                            <td>
                                <a href="/metodos/{{../idRestaurante}}/editar/{{idMetodo}}"><center><img src="/img/editar.png"></center></a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody> 
                </table>

            
            </div>

    </div>

</body>
</html>
